@use "/public/styles/variables" as *;

.blog__content {
  flex-direction: column;
  padding: 0 2rem;
  @media screen and (min-width: $desktop-x) {
    display: flex;
    max-width: 1280px;
    flex-direction: row;
    margin: 0 auto 100px;
    justify-content: space-between;
    position: relative;
  }
}
