@use "/public/styles/variables" as *;

.blog__content {
  flex-direction: column;
  @media screen and (min-width: $desktop) {
    margin: 60px auto;
    display: flex;
    max-width: 1280px;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
  }
}
