@use '/public/styles/variables' as *;

.blog-header {

    &__container-title {
        text-align: center;
        margin-bottom: 5.6rem;
    }

    &__title {
        font-size: 4rem;
        margin-bottom: 2.4rem;

    }
    &__subtitle {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.8rem;
    }
}

@media only screen and (min-width: $desktop) {
    .blog-header {
    
        &__title {
            font-size: 6.4rem;
            margin-top: 50px;
    
        }}
}