@use "/public/styles/variables" as *;
.recipes-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    @media screen {
      @media (min-width: $desktop-x) {
        order: 3;
        width: 400px;
        height: 434px;
      }
    }
    .ads__img {
      width: 400px;
      height: 434px;
    }
  }

  &__title {
    /*  width: 247.53px; */
    height: 48.03px;
    font-family: $inter;
    $fontWeightTitle: 600;
    font-size: 32px;
    letter-spacing: -0.04em;
    color: $colorDark;
    margin: 48px 0px 30px 0px;
    display: flex;
    justify-content: center;
    @media screen {
      @media (min-width: $desktop-x) {
        order: 1;
        text-align: center;
        margin-top: 0px;
      }
      @media (min-width: $desktop-x) {
        align-self: flex-start;
      }
    }
  }

  &__receitas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
    @media screen {
      @media (min-width: $desktop) {
        display: flex;
        flex-direction: column-reverse;
        order: 2;
      }
    }
  }
}
