.input-container__input {
  width: 375px;
  height: 60px;
  background: var(--cor--branca);
  border: var(--border-components);
  border-radius: 16px;
  padding: 18px 19px;
  position: relative;
}

.input-container__input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  padding-left: 10px;
}

.input-container {
  margin-top: 32px;
}

.input-container__subtitulo {
  font-family: "Inter";
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 1270px) {
}
