@use "/public/styles/variables" as *;

.InstagramSection {
  &__text {
    text-align: center;
    font-family: $inter;
    padding: 0 1.5rem;
    margin-bottom: 4rem;

    &Heading {
      font-size: 2.8rem;
      margin-bottom: 3rem;
    }

    &Paragraph {
      font-size: 1.4rem;
      line-height: 2.8rem;
      letter-spacing: 0.04rem;
      color: $colorGrey;
    }
  }

  &__posts {
    display: flex;
    padding: 0 7rem;
    column-gap: 7rem;
    overflow: hidden;
    overflow-x: auto;
  }
}
