@use "/public/styles/variables" as *;

.InstagramSection {
  &__container {
    margin: 0 auto;
    width: 95%;
    background-image: linear-gradient(to top, #e7f9fd, #fff);
    border-radius: 10px;
  }

  &__text {
    text-align: center;
    font-family: $inter;
    padding: 0 1.5rem;
    margin-bottom: 4rem;

    &Heading {
      font-size: 2.8rem;
      margin-bottom: 3rem;
    }

    &Paragraph {
      font-size: 1.4rem;
      line-height: 2.8rem;
      letter-spacing: 0.04rem;
      color: $colorGrey;
    }
  }

  &__posts {
    display: flex;
    padding: 0 5.5rem;
    column-gap: 6rem;
    overflow: hidden;
    overflow-x: auto;
    position: relative;
  }

  &__prev {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 2;

    @media screen {
      @media (min-width: $desktop-xm) {
        display: none;
      }
    }
  }

  &__next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    @media screen {
      @media (min-width: $desktop-xm) {
        display: none;
      }
    }
  }

  &__button {
    border: none;
    background-color: transparent;
  }
}
