@use "/public/styles/variables" as *;
.card {
  margin-right: 50px;
}

.card:nth-child(4) {
  margin-right: 0;
}

@media screen and (min-height: $desktop-xm) {
  .card {
    margin-right: 40px;
  }
}
