@use "/public/styles/variables" as *;
.card {
  margin-right: 50px;

  &:nth-child(4) {
    margin-right: 0;
  }

  @media screen {
    @media (min-width: $desktop-xm) {
      margin-right: 40px;
    }
  }
}
