@use "/public/styles/variables" as *;
.card {
  &:not(:last-child) {
    margin-right: 50px;

    @media screen {
      @media (min-width: $desktop-xm) {
        margin-right: 40px;
      }
    }
  }

  &:nth-child(4n) {
    @media screen {
      @media (min-width: $desktop-xm) {
        margin-right: 0px;
      }
    }
  }
}
