:root {
  --colorDark: #000000;
  --colorLight: #ffffff;
  --fontWeightTitle: 600;
  --fontWeightBody: 500;
  --orange: #FF7967;
  --inter: 'Inter', sans-serif;
  --cor--cinza: rgba(0, 0, 0, 0.1);
  --border-components: 1px solid rgba(0, 0, 0, 0.1);

  /* breakpoints media query */
  --desktop: 1024px
}

