:root {
  --colorDark: #000000;
  --colorLight: #ffffff;

  --fontfamilyPrimary: "Inter", sans-serif;

  --fontWeightTitle: 600;
  --fontWeightBody: 500;
  --orange: #FF7967;
  --black: #000;
  --inter: 'Inter', sans-serif;
  --cor--cinza: rgba(0, 0, 0, 0.1);
  --cor--preto: rgb(0, 0, 0);
  --cor--branca: #ffffff;
  --border-components: 1px solid rgba(0, 0, 0, 0.1);
}
