@use "/public/styles/variables" as *;

.HomeRecipes {
  &__container {
    @media only screen and (min-width: $desktop-x) {
      display: flex;
    }
  }

  &__info {
    margin-bottom: 5.2rem;
  }

  &__title {
    font-family: $inter;
    color: $colorDark;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 36px;
    letter-spacing: -0.04em;
    width: 30.1rem;
    height: 8.9rem;
    text-align: center;
    @media only screen and (min-width: $desktop-x) {
      width: 80rem;
      height: 8.9rem;
      font-size: 4.8rem;
    }
  }
  &__text {
    font-family: $inter;
    font-size: 1.6rem;
    color: $colorGrey;
    height: 11.2rem;
    width: 35.9rem;
    font-weight: 400;
    margin: auto;
    text-align: center;
    margin-top: 1.5rem;
    width: 35.9rem;
    line-height: 2.5rem;
    letter-spacing: 0.02em;
    @media only screen and (min-width: $desktop-x) {
      width: 70rem;
      height: 8.9rem;
      margin: auto;
    }
  }
  &__content {
    background: $colorBlue;
    border-radius: 30px;
    width: 344.26px;
    display: flex;
    margin: auto;
    align-items: center;
    margin-right: 4rem;
    text-align: left;
    padding: 0 2rem;
    @media only screen and (min-width: $desktop-x) {
      margin: 0 5rem 0 5rem;
    }
  }

  &__post {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0 3rem;
    @media only screen and (min-width: $desktop-x) {
      display: inline-grid;
      grid-template-columns: 430px 430px 430px;
      grid-template-rows: 430px 430px 430px;
      position: relative;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    @media only screen and (min-width: $desktop-x) {
      grid-column: 1;
    }
  }

  &__paginationButton {
    border: none;
  }
}

.card--mt {
  align-items: center;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.ads__img--mt {
  margin: 3rem auto;
  display: none;
  @media only screen and (min-width: $desktop-x) {
    display: block;
    margin: auto auto 2rem auto;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
  }
}

.HomeRecipes__slider {
  text-align: center;
  &__arrows {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    @media only screen and (min-width: $desktop-x) {
      display: none;
    }
  }
}
