@use '/public/styles/variables' as *;

.blogform {
    font-family: $inter;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__header{
        font-size: 3rem;
        font-family: $inter;
        text-align: center;
        margin: 2rem 0;
    }

    &__closebtn{
        padding: 2rem;
        position: absolute;
        right: 0;
        top: -5.5rem;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover .blogform__closebtn--icon:before,
        &:hover .blogform__closebtn--icon:after{
            background-color: $colorDark;
        }



        &--icon{
            position: absolute;
            top: 1.8rem;
            left: -.2rem;

            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 45px;
                height: 6px;
                background-color: $colorLight;
                transform: rotate(45deg);
                border-radius: 5px;
            }
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 45px;
                height: 6px;
                background-color: $colorLight;
                transform: rotate(-45deg);
                border-radius: 5px;
            }
        }
    }

    &__input{

        &--text{
            padding: 1rem;
            outline-color: $orange;

            &::placeholder{
                font-family: $inter;
            }
        }
    }
    button {
        margin: 2rem 0;
    }
}

