@use "/public/styles/variables" as *;
.RecipesHeader{
    &__container{
        position: relative;
        @media screen and (min-width: $tablet){
            position: relative;
            display: flex;
            flex-direction: column;
        }
    }
    &__btn{
        @media screen and (min-width: $tablet){
        display: flex;
        flex-direction: row-reverse;}

    }
    &__print{
        @media screen and (min-width: $tablet){
        margin: 1rem;}
    }
    &__share{
        @media screen and (min-width: $tablet){ 
        margin: 1rem;}
    }
    &__title{
    font-family: $inter;
    font-weight: 600;
    font-size: 1.8rem;  
    @media screen and (min-width: $tablet){
    font-family: $inter;
    font-weight: 600;
    font-size: 6.4rem;
    text-align: center;}
}
    &__info{
        @media screen and (min-width: $tablet){
        display: flex;
        margin-top: 4.8rem;
        justify-content: center;}
        &--prepTime{
            @media screen and (min-width: $tablet){
            font-family: $inter;
            display: flex;
            flex-direction: column;
            margin-left: 2rem;
            margin-top: 0.5rem;}
            &2{
                @media screen and (min-width: $tablet){
                opacity: 0.5;}
            }
        }
        &--cookTime{
            @media screen and (min-width: $tablet){
            font-family: $inter;
            margin-left: 2.2rem;
            margin-top: 0.4rem;}
        }
        &--type{
            @media screen and (min-width: $tablet){
            font-family: $inter;
            margin-left: 2rem;
            margin-top: 1.3rem;}

            &Img{
            @media screen and (min-width: $tablet){
            height: 2.4rem;
            width: 2.4rem;
            margin-left: 5.2rem;
            margin-top: 1rem;}
        }}
    &__bar{
        @media screen and (min-width: $tablet){
        margin-left: 4rem;}
        &2{
            @media screen and (min-width: $tablet){
            position: relative;
            margin-left: 6rem;}
        }
    }
    &--text{
        @media screen and (min-width: $tablet){
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-left: 4rem;}
    }}
    &__timer{
        @media screen and (min-width: $tablet){
        width: 2.4rem;
        height: 2.4rem;
        margin-left: 5rem;
        margin-top: 1rem;}
        &--mt{
            @media screen and (min-width: $tablet){
            display: flex;
            margin-top: -1rem;
            margin-left: 5.2rem;}
        }
    }
    &--author{
        @media screen and (min-width: $tablet){
        width: 5rem;
        height: 5rem;
        display: flex;
        margin-left: 8rem;}
    }
   

}
