@import url(../../../../../../public/css/global.css);
@import url(../../../../../../public/css/reset.css);
.card {
  margin-right: 50px;
}

.card:nth-child(4) {
  margin-right: 0;
}

@media screen and (min-height: 1400px) {
  .card {
    margin-right: 40px;
  }
}
