@use "/public/styles/variables" as *;
.hover-orange:hover path,
.hover-orange:hover circle {
  fill: $orange;
  transition: fill 0.4s;
}

path,
circle {
  transition: fill 0.4s;
}

.social__link:hover path,
.social__link:hover circle {
  fill: $orange;
  transition: fill 0.4s;
}
.social__link:hover {
  background-color: #f0f0f0;
  transition: background-color 0.4s;
}

.social__link {
  transition: background-color 0.4s;
}
