@use "/public/styles/variables" as *;
.footer {
  width: 100%;
  margin: 7rem 0;
  padding: 0 2rem;
  position: relative;

  &-container{
    width: 100%;
  display: flex;
  flex-direction: column;
  font-family: $inter;
  flex-wrap: wrap;

    &__inner--3 {
      display: flex;
      flex-direction: column;
    }
  }

  &__logo{
    align-self: flex-start;
    margin-bottom: 4rem;
  }

  &__text{
    width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 4rem;
  line-height: 28px;
  }

  &__list {
    list-style: none;
    display: flex;
    margin-bottom: 4rem;
    justify-content: space-between;
    gap: 5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;

    &--{
      &link,&link:visited,&link:active{
        font-size: 1.4rem;
  font-weight: 500;
  color: $colorDark;
  text-decoration: none;
  transition: color 0.3s;
      }
      &link:hover{
        color: $orange;
        transition: color 0.3s;
      }
    }
  }

  &__copyright {
    margin-bottom: 5rem;
    font-size: 1.8rem;
    font-weight: 500;
    align-self: center;

    &--text {
      opacity: 0.6;
    }

    &--link {
      text-decoration: none;
      color: $orange;
    }
  }

  &__social-container {
    display: flex;
    align-self: center;
    gap: 10rem;
  }
}

@media only screen and (min-width: $desktop) {
  .footer {
    margin-top: 16rem;
    padding: 0 5rem;

    &-container {
      flex-direction: row;
      justify-content: space-between;

      &__inner--1 {
        flex-basis: 50%;
        align-self: center;
      }

      &__inner--2 {
        flex-basis: fit-content;
        align-self: center;
      }

      &__inner--3 {
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 4.5rem;
      }
    }

    &__logo {
      margin-bottom: 3rem;
    }
    &__list {
      margin-bottom: 0;
      justify-content: center;
      gap: 6rem;
      border-bottom: none;

      &--link {
        font-size: 1.6rem;
      }
    }
    &__copyright {
      margin-bottom: 0;
    }
    &__social-container {
      align-items: center;
      position: absolute;
      right: 2rem;
      gap: 4rem;
    }
  }
}