@use "/public/styles/variables" as *;

.learnMore{

    &__text{
        display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    max-width: 1280px;
    padding: 3rem 2rem;
    font-family: $inter;
    gap: 3rem;
    background-image: linear-gradient(to bottom,#E7F9FD, #fff);
    border-radius: 10px;
    }
    
    &__title{
        font-size: 3.6rem;
    }
    &__paragraph{
        font-size:1.6rem;
        line-height: 2.3rem;
    }
}