@use "/public/styles/variables" as *;

.learnMore {
  margin-bottom: 10rem;
  margin: auto;

  &__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    max-width: 1280px;
    padding: 3rem 2rem;
    font-family: $inter;
    gap: 3rem;
    background-image: linear-gradient(to bottom, #e7f9fd, #fff);
    border-radius: 10px;
  }

  &__title {
    font-size: 3.6rem;
    text-align: left;
  }
  &__paragraph {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
  

  @media screen {
    @media (min-width: $desktop) {
      max-width: 1400px;
      &__container{
        display: flex;
        margin-bottom: 8rem;
      }
      &__title{
        display: flex;
        font-size: 3.6rem;
      }
      &__paragraph{
        height: 8.4rem;
        width: 50.8rem;
      }
      &__text{
        background-image: none;
        display: flex;
        /* flex-direction: column; */
        /* width: 30%; */
        margin: auto;
        align-items: flex-start;
      }
      &__img{
        display: flex;
        position: relative;
      }
      
    }
  }
}
.button--m {
  @media screen {
  @media (min-width: $desktop){
  margin-top: 7.2rem;
}}}