@use "/public/styles/variables" as *;

.learnMore {
  margin-bottom: 10rem;

  &__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    max-width: 1280px;
    padding: 3rem 2rem;
    font-family: $inter;
    gap: 3rem;
    background-image: linear-gradient(to bottom, #e7f9fd, #fff);
    border-radius: 10px;
  }

  &__title {
    font-size: 3.6rem;
  }
  &__paragraph {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
  &__img {
    display: none;
    position: relative;
  }

  @media screen {
    @media (min-width: $desktop) {
      &__container {
        display: flex;
      }
      &__title {
        height: 11.6rem;
        width: 52.6rem;
        display: flex;
        font-size: 4.8rem;
      }
      &__paragraph {
        height: 8.4rem;
        width: 50.8rem;
      }
      &__text {
        background-image: none;
        display: flex;
        flex-direction: column;
        width: 52.6rem;
        height: 22.4rem;
        margin: auto;
        align-items: flex-start;
      }
      &__img {
        display: flex;
        position: relative;
      }
    }
  }
}
.button--m {
  @media screen {
    @media (min-width: $desktop) {
      margin-top: 7.2rem;
    }
  }
}
