.select__container {
  margin-top: 32px;
}
.select {
  width: 375px;
  height: 60px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px 19px;
  font-family: var(--inter);
}

select {
  -webkit-appearance: none;
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: var(--border-components);
  border-radius: 6px;
  box-sizing: border-box;

}

.select__div {
  position: relative;
}

.select__div::before,
.select__div::after {
  content: "";
  position: absolute;
  top: 50%;
  border-top: 2px solid rgb(0, 0, 0);
  width: 10px;
}

.select__div::before {
  right: 26px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.select__div::after {
  right: 20px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
