

.textArea__container {
  margin-top: 32px;
}
.textArea {
  width: 373px;
  height: 200px;
  background: var(--cor--branca);
  border: 1px solid var(--cor--cinza);
  border-radius: 16px;
  padding: 20px 19px;
  font-family: var(--inter);
}

.textArea::placeholder {
  padding: 20px 19px;

  font-family: var(--inter);

  font-style: normal;

  font-weight: 400;

  font-size: 14px;

  line-height: 24px;

  letter-spacing: -0.02em;

  color: rgba(0, 0, 0, 0.6);

  opacity: 0.8;
}

@media screen and (min-width: 1270px) {
  .textArea {
    max-width: 840px;
    height: 200px;
    width: 780px;
  }
}
