@use "/public/styles/variables" as *;

.default-button {
  background-color: $colorDark;
  border-radius: 16px;
  color: $colorLight;
  padding: 2rem 5.8rem;
  border: none;
  cursor: pointer;
}

.button {
  &-sm {
    font-size: 1rem;
  }
  &-m {
    font-size: 1.5rem;
  }
  &-l {
    font-size: 2rem;
  }

  &--blue {
    background-color: #e7fafe;
    width: 21rem;
    height: 6rem;
    border-radius: 16px;
    padding: 2rem 2.7rem;
    color: $colorDark;
    font-family: $inter;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
  }
  &--sm {
    font-size: 1rem;
  }
  &--m {
    font-size: 1.5rem;
  }
  &--l {
    font-size: 2rem;
  }
}
