$colorDark: #000000;
$colorLight: #ffffff;
$fontWeightTitle: 600;
$fontWeightBody: 500;
$orange: #ff7967;
$inter: "Inter", sans-serif;
$colorGray: rgba(0, 0, 0, 0.1);
$colorGrey: rgba(0, 0, 0, 0.6);
$border-components: 1px solid rgba(0, 0, 0, 0.1);

/* breakpoints media query */
$desktop: 1024px;
$desktop-x: 1270px;
$desktop-xm: 1400px;
$desktop-xl: 1440px;
