@use "/public/styles/variables" as *;
.textArea-container {
  margin-top: 32px;
  &__textArea {
    width: 373px;
    height: 200px;
    background: $colorLight;
    border: 1px solid $colorGray;
    border-radius: 16px;
    padding: 20px 19px;
    font-family: $inter;

    &::placeholder {
      padding: 20px 19px;
      font-family: $inter;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: rgba(0, 0, 0, 0.6);
      opacity: 0.8;
    }
    @media screen {
      @media (min-width: $desktop-xm) {
        max-width: 840px;
        height: 200px;
        width: 780px;
      }
    }
  }
}
