@import '../../../public/css/variables.css';


.footer {
    width: 100%;
    margin: 7rem 0;
    padding: 0 2rem;
    position: relative;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--inter);
    flex-wrap: wrap;
}

.footer__logo{
    align-self: flex-start;
    margin-bottom: 4rem;
}

.footer__text{
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    opacity: .6;
    margin-bottom: 4rem;
    line-height: 28px;
}

.footer__list{
    list-style:none;
    display: flex;
    margin-bottom: 4rem;
    justify-content: space-between;
    gap: 5rem;
    border-bottom:1px solid rgba(0,0,0,.1);
    padding-bottom: 5px;
}

.footer__list--link, .footer__list--link:visited, .footer__list--link:active{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
    transition: color .3s;
}

.footer__list--link:hover{
    color: var(--orange);
    transition: color .3s;
}

.footer__copyright{
    margin-bottom: 5rem;
    font-size: 1.8rem;
    font-weight: 500;
    align-self: center;
}

.footer__copyright--text{
    opacity: .6;
}

.footer__copyright--link{
    text-decoration: none;
    color: var(--orange);
}

.footer__social-container{
    display: flex;
    align-self: center;
    gap: 10rem;
}