.banner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 417px;
  height: 832px;
  background: #e7fafe;
  margin: 0 auto;
  border-radius: 50px;

  &__header {
    display: inline-block;
    position: relative;
  }

  &__mainCourse {
    width: 417px;
    height: 414px;
    transform: matrix(0, -1, 1, 0, 0, 0);
    border-radius: 0px 50px 50px 0px;
  }

  &__recipesLike {
    position: absolute;
    width: 99.96px;
    height: 98.4px;
    left: 2%;
    top: 80%;
  }

  &__topContainer {
    width: 141.58px;
    height: 29.48px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    display: flex;
    left: 65%;
    top: 90%;
    justify-content: center;
    align-items: center;

    &--icon {
      width: 21.78px;
      height: 15.73px;
    }
    &--title {
      width: 71.7px;
      height: 11.14px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.02em;
      color: #000000;
    }
  }

  &__botContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--title {
      width: 413px;
      height: 61px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 31px;
      text-align: center;
      letter-spacing: -0.04em;
      color: #000000;
      margin-top: 30.6px;
    }

    &--description {
      width: 341px;
      height: 66px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &__informations {
    margin-top: 56px;
    display: flex;
  }

  &__card {
    width: 139.82px;
    height: 39px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--icons {
      width: 24.14px;
      height: 23.4px;
    }

    &--content {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.02em;
      color: rgba(0, 0, 0, 0.6);
    }
  }
  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 23px;
  }
  &__authorInformations {
    display: flex;
  }
  &__authorData {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    margin-left: 15px;

    &--name {
      width: 90.75px;
      height: 20.14px;

      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.02em;

      color: #000000;
    }
    &--date {
      width: 102.35px;
      height: 18.02px;

      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.02em;

      color: rgba(0, 0, 0, 0.6);
    }
  }

  &__button {
    width: 151.19px;
    height: 41.48px;
    border: none;
    border-radius: 100px;
    position: relative;
    text-align: left;
    padding: 0 20px;
    cursor: pointer;
    &--play {
      display: inline-block;
      width: 24.53px;
      height: 22.56px;
      position: absolute;
      top: 50%;
      right: 10%;

      transform: translateY(-50%);
      border-radius: 50%;
      background-color: #ffff;

      &::after {
        content: " ";
        width: 8px;
        height: 8px;
        background-color: #000000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        clip-path: polygon(0 0, 100% 50%, 0 100%);
      }
    }

    &:hover &--play {
      background-color: blue;
    }
  }
}

.mr {
  margin-right: 50px;
}

.ml {
  margin-left: 50px;
}
