@use "/public/styles/variables" as *;
.sliderBanner {
  overflow: hidden;
  display: flex;
  overflow-x: auto;
}
.banner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 400px;
  height: 770px;
  background: #e7fafe;
  margin: 0 auto;
  border-radius: 50px;

  @media screen {
    @media (min-width: $tablet) {
      width: 680px;
    }
    @media (min-width: $desktop-xm) {
      display: flex;
      align-content: space-between;
      flex-direction: column;
      width: 1280px;
      height: 640px;
    }
    @media (min-width: $desktop-xm) {
      display: flex;
      align-content: space-between;
      flex-direction: column;
      width: 1280px;
      height: 640px;
    }
  }

  &__header {
    display: inline-block;
    position: relative;

    @media screen {
      @media (min-width: $tablet) {
        margin-top: 20px;
      }
      @media (min-width: $desktop-xm) {
        margin-top: 0px;
        order: 2;
      }
    }
  }

  &__mainCourse {
    width: 410px;
    height: 400px;
    transform: rotate(270deg);
    border-radius: 0px 50px 50px 0px;
    @media screen {
      @media (min-width: $desktop-xm) {
        width: 660px;
        height: 640px;
        transform: rotate(0);
      }
    }
  }

  &__recipesLike {
    position: absolute;
    width: 99.96px;
    height: 98.4px;
    left: 2%;
    top: 80%;
    @media screen {
      @media (min-width: $desktop-xm) {
        top: 15%;
        left: -7.5%;
      }
    }
  }

  &__topContainer {
    width: 141.58px;
    height: 29.48px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    display: flex;
    left: 65%;
    top: 90%;
    justify-content: center;
    align-items: center;

    @media screen {
      @media (min-width: $desktop-xm) {
        left: -85%;
        top: 12%;
      }
    }

    &__icon {
      width: 21.78px;
      height: 15.73px;
    }
    &__title {
      margin-left: 10px;
      width: 71.7px;
      height: 11.14px;
      font-family: $inter;
      font-style: normal;
      font-weight: $fontWeightTitle;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.02em;
      color: $colorDark;
    }
  }

  &__botContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen {
      @media (min-width: $desktop-xm) {
        margin-left: 50px;

        order: 1;
      }
    }

    &__title {
      width: 413px;
      height: 61px;
      font-family: $inter;
      font-style: normal;
      font-weight: $fontWeightTitle;
      font-size: 26px;
      line-height: 31px;
      text-align: center;
      letter-spacing: -0.04em;
      color: $colorDark;
      margin-top: 30.6px;
      @media screen {
        @media (min-width: $desktop-xm) {
          width: 520px;
          height: 154px;
          font-size: 64px;
          line-height: 77px;
          letter-spacing: -0.04em;
          margin-top: 127px;
          text-align: left;
        }
      }
    }

    &__description {
      width: 341px;
      height: 66px;
      font-family: $inter;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      color: $colorGrey;

      @media screen {
        @media (min-width: $desktop-xm) {
          width: 520px;
          height: 56px;
          text-align: left;
          margin-top: 24px;
        }
      }
    }
  }

  &__informations {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;
    @media screen {
      @media (min-width: $desktop-xm) {
        justify-content: flex-start;
        margin-right: 35px;
        padding: 0;
      }
    }
  }

  &__card {
    width: 139.82px;
    height: 39px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen {
      @media (min-width: $desktop-xm) {
        margin-left: 16px;
      }
    }

    &__icons {
      width: 24.14px;
      height: 23.4px;
    }

    &__content {
      margin-left: 10px;
      font-family: $inter;
      font-style: normal;
      font-weight: $fontWeightBody;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.02em;
      color: $colorGrey;
    }
  }
  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 23px;

    @media screen {
      @media (min-width: $desktop-xm) {
        margin-top: 104px;
        margin-right: 104px;
      }
    }
  }
  &__authorInformations {
    display: flex;
  }
  &__authorData {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    margin-left: 15px;

    &__name {
      width: 90.75px;
      height: 20.14px;

      font-family: $inter;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.02em;

      color: $colorDark;

      @media screen {
        @media (min-width: $desktop-xm) {
          width: 86px;
          height: 19px;
        }
      }
    }
    &__date {
      width: 102.35px;
      height: 18.02px;

      font-family: $inter;
      font-style: normal;
      font-weight: $fontWeightBody;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.02em;

      color: $colorGrey;
      @media screen {
        @media (min-width: $desktop-xm) {
          width: 97px;
          height: 17px;
        }
      }
    }
  }

  &__textButton {
    width: 89.93px;
    height: 15.98px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;

    color: #ffffff;
    @media screen {
      @media (min-width: $desktop-xm) {
        width: 127px;
        height: 24px;
      }
    }
  }
  &__button {
    width: 151.19px;
    height: 41.48px;
    border: none;
    border-radius: 100px;
    position: relative;
    text-align: left;
    padding: 0 20px;
    cursor: pointer;
    background: $colorDark;

    margin-left: 50px;

    @media screen {
      @media (min-width: $desktop-xm) {
        width: 200px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 23px;
      }
    }

    &--play {
      display: inline-block;
      width: 24.53px;
      height: 22.56px;
      position: absolute;
      top: 50%;
      right: 10%;

      transform: translateY(-50%);
      border-radius: 50%;
      background-color: $colorLight;

      @media screen {
        @media (min-width: $desktop-xm) {
          top: 45%;
          right: 17%;
        }
      }

      &::after {
        content: " ";
        width: 8px;
        height: 8px;
        background-color: $colorDark;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        clip-path: polygon(0 0, 100% 50%, 0 100%);
      }
    }

    &:hover &--play {
      background-color: #e7fafe;
    }
  }
}
