.inputContainer{
    width: 355px;
    height: 59px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding-left: 50px;
    margin-right: 13px;
    margin-left: 18px;
    margin-bottom: 28px;
    position: absolute;
    margin-top: 290px;

    
}

.inputContainer::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.4);
    opacity: 0.8;
    margin-right: 10px;
    padding: 34px 0px;
    
    
}




.submit_button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 69px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: -0.02em;
    width: 356px;
    height: 60px;
    left: 18px;
    margin-top: 105px;
    
    /* top: 1453px; */
    border-radius: 16px;
    background-color: black;
    color: white;
    position: absolute;
    


}

