:root {
  --cor--cinza: rgba(0, 0, 0, 0.1);
  --cor--preto: rgb(0, 0, 0);
  --cor--branca: #ffffff;
  --border-components: 1px solid rgba(0, 0, 0, 0.1);
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*1rem = 10px*/
}
