@use "/public/styles/variables" as *;
/* .recipe-article {
} */
.recipe-container {
  margin-bottom: 30px;
  
  @media screen {
    @media (min-width: $desktop-x) {
      display: flex;
      margin-bottom: 24px;
    }
  }
  &__img {
    width: 221.67px;
    height: 147.78px;
    border-radius: 20px;
    margin-bottom: 28px;
    @media screen {
      @media (min-width: $desktop-x) {
        width: 180px;
        height: 120px;
        margin-bottom: 0;
      }
    }
  }
  &__typography {
    @media screen {
      @media (min-width: $desktop-x) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 24px;
      }
    }
  }
  &__subtitle {
    width: 241.38px;
    height: 68.96px;
    font-family: $inter;
    font-style: normal;
    font-weight: $fontWeightTitle;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.04em;
    color: $colorDark;
    margin-bottom: 19px;
    @media screen {
      @media (min-width: $desktop-x) {
        margin-bottom: 16px;
        width: 196px;
        height: 56px;
      }
    }
  }
  &__author {
    /*    width: 139.16px;
    height: 20.94px; */
    font-family: $inter;
    font-style: normal;
    font-weight: $fontWeightBody;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: $colorGrey;
    margin-bottom: 30px;
  }
}
