@use "/public/styles/variables" as *;

.slider {
  margin-top: 152px;

  &__container {
    position: relative;
  }

  &__container:first-child {
    display: none;
    max-width: 144rem;
    margin: 0 auto;

    @media screen {
      @media (min-width: $desktop) {
        margin-bottom: 80px;
        display: block;
      }
    }
  }

  &__title {
    font-family: $inter;
    font-weight: $fontWeightTitle;
    color: $colorDark;
    font-size: 3.6rem;
    line-height: 43.57px;
    letter-spacing: -4%;
    text-align: center;
  }

  &__subTitle {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: $colorGrey;
    font-family: $inter;
    margin-bottom: 30px;

    @media screen {
      @media (min-width: $desktop) {
        text-align: left;
        margin-bottom: 0;
      }
    }
  }

  &__prev {
    position: absolute;
    top: 40%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 2;

    @media screen {
      @media (min-width: $desktop-xm) {
        display: none;
      }
    }
  }

  &__next {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    z-index: 2;

    @media screen {
      @media (min-width: $desktop-xm) {
        display: none;
      }
    }
  }

  &__button {
    border: none;
    background-color: transparent;
  }

  &__content {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    @media screen {
      @media (min-width: $desktop-xm) {
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 4rem;
      }
    }
  }

  //modificadores

  &--homeSlider {
    margin-bottom: 15rem;
  }

  &--homeSlider &__container:first-child {
    display: flex;
    flex-direction: column;

    @media screen {
      @media (min-width: $desktop) {
        flex-direction: row;
        column-gap: 14rem;
        align-items: center;
        padding: 0 8rem;
      }
    }
  }

  &--homeSlider &__title {
    font-size: 3rem;
    line-height: 3.8rem;
    margin-bottom: 1.4rem;

    @media screen {
      @media (min-width: $desktop) {
        text-align: left;
        font-size: 4.8rem;
        line-height: 5.8rem;
        margin-bottom: 0;
      }
    }
  }

  @media screen {
    @media (min-width: $desktop) {
      margin-top: 162px;
    }
  }
}
