@use "/public/styles/variables" as *;

.slider {
  position: relative;
  margin-top: 152px;

  &__container:first-child {
    display: none;

    @media screen {
      @media (min-width: $desktop) {
        margin-bottom: 80px;
        display: block;
      }
    }
  }

  &__title {
    font-family: $inter;
    font-weight: $fontWeightTitle;
    color: $colorDark;
    font-size: 3.6rem;
    line-height: 43.57px;
    letter-spacing: -4%;
    text-align: center;
  }

  &__prev {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 2;

    @media screen {
      @media (min-width: $desktop-xm) {
        display: none;
      }
    }
  }

  &__next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    @media screen {
      @media (min-width: $desktop-xm) {
        display: none;
      }
    }
  }

  &__button {
    border: none;
    background-color: transparent;
  }

  &__content {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    @media screen {
      @media (min-width: $desktop-xm) {
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }

  @media screen {
    @media (min-width: $desktop) {
      margin-top: 162px;
    }
  }
}
